$button-border-radius: $radius-rounded !default;
$button-color: #fff !default;
$button-font-family: $base-font-family !default;
$button-font-size: $base-font-size !default;
$button-font-weight: 600 !default;
$button-padding-left-right: 1em !default;;
$button-padding-top-bottom: 0.75em !default;;
$button-background: $main-color !default;;

// Small
$button-small-divider: 1.2;
// Large
$button-large-multiplier: 1.2;

// Hover
$button-color-hover: #fff !default;;

// Effect
$button-hover-effect: transparent !default;;