

$green-sea: #16a085 !default;
$green: #27ae60 !default;
$blue: #2980b9 !default;
$purple: #8e44ad !default;
$dark-blue: #2c3e50 !default;
$yellow: #f1c40f !default;
$orange: #e67e22 !default;
$red: #c0392b !default;
$white: #ecf0f1 !default;
$grey: #95a5a6 !default;
$silver: #bdc3c7 !default;

$dark-gray: #333 !default;
$medium-gray: #999 !default;
$light-gray: #ddd !default;

$main-color: $blue !default;
$secondary-color: $grey !default;
$tertiary-color: $dark-blue !default;
$quaternary-color: $green !default;

$action-color: $main-color !default;

$color-variables: (main $main-color, 
									secondary $secondary-color, 
									tertiary $tertiary-color, 
									quaternary $quaternary-color,
									success $green,
									info $blue,
									warn $yellow,
									alert $red) !default;