$full-screen-menu-background: rgba(255,255,255,0.8) !default;
$full-screen-menu-font-size: 1.7em !default;
$full-screen-menu-text-decoration: none !default;
$full-screen-menu-text-transform: uppercase !default;
$full-screen-menu-line-height: 1.8 !default;
$full-screen-menu-font-family: $heading-font-family !default;
$full-screen-menu-padding: 20% 5% !default;
$full-screen-menu-color: $action-color !default;
$full-screen-menu-color-hover: darken($action-color, 15%) !default;