// Menu
$menu-height: 70px !default;
$menu-background: #666 !default;
$menu-link-color: #fff !default;
$menu-link-color-hover: #999 !default;
$menu-link-padding: 10px 5px !default;
// options: small, medium, medium-up, medium-down, large
$menu-break-point: $medium-down !default;

// Logo
$menu-logo-margin-right: 30px !default;