// Modal
$modal-background: rgba(33,33,33,0.4);
// Content
$modal-content-background: white;
$modal-content-padding: em(24px);
$modal-content-max-width: 500px;
$modal-content-margin: 12% auto;
$modal-content-text-align: center;

