$heading-font-color: #6f6f6f;
$font-color: lighten($heading-font-color, 10%);
$font-family: $helvetica;
$heading-font-family: $font-family;
$line-height: 1.5;
$heading-line-height: 1.2;
$action-color: $blue;

// Sizes
$font-size: 16px;
$paragraph-margin: 0 0 1.3rem;
$h1-font-size: 2.441em;
$h1-margin: 1.414rem 0 0.5rem;
$h2-font-size: 1.953em;
$h2-margin: $h1-margin;
$h3-font-size: 1.563em;
$h3-margin: $h1-margin;
$h4-font-size: 1.25em;
$h4-margin: $h1-margin;
$h5-font-size: 1em;
$h5-margin: $h1-margin;
$h6-font-size: 0.8em;
$h6-margin: $h1-margin;
