
$font-family: $helvetica !default;
$heading-font-family: $font-family !default;
$heading-font-color: #6f6f6f !default;
$font-color: lighten($heading-font-color, 10%) !default;
$line-height: 1.5 !default;
$heading-line-height: 1.2 !default;
$text-transform: default !default;
$heading-text-transform: default !default;
$heading-letter-spacing: default !default;
$letter-spacing: default !default;
$font-weight: default !default;
$heading-font-weight: default !default;

// Sizes
$font-size: 16px !default;
$paragraph-margin: 0 0 1.3rem !default;
$h1-font-size: 2.441em !default;
$h1-margin: 1.414rem 0 0.5rem !default;
$h2-font-size: 1.953em !default;
$h2-margin: $h1-margin !default;
$h3-font-size: 1.563em !default;
$h3-margin: $h1-margin !default;
$h4-font-size: 1.25em !default;
$h4-margin: $h1-margin !default;
$h5-font-size: 1em !default;
$h5-margin: $h1-margin !default;
$h6-font-size: 0.8em !default;
$h6-margin: $h1-margin !default;

// Medium
$medium-font-size: 15px !default;
$medium-h1-font-size: $h1-font-size / 1.5 !default;
$medium-h2-font-size: $h2-font-size !default;
$medium-h3-font-size: $h3-font-size !default;
$medium-h4-font-size: $h4-font-size !default;
$medium-h5-font-size: $h5-font-size !default;
$medium-h6-font-size: $h6-font-size !default;

// Small
$small-font-size: 14px !default;
$small-h1-font-size: $h1-font-size / 1.5 !default;
$small-h2-font-size: $h2-font-size !default;
$small-h3-font-size: $h3-font-size !default;
$small-h4-font-size: $h4-font-size !default;
$small-h5-font-size: $h5-font-size !default;
$small-h6-font-size: $h6-font-size !default;
