
// Other Sizes
$base-border-radius: 3px;
$base-z-index: 0;

// Colors

// Font Colors
$base-background-color: #fff;


// Border
$base-border-color: gray;
$base-border: 1px solid $base-border-color;

// Forms

