.menu{
	min-height: $menu-height;
	background: $menu-background;
	z-index: $menu-z-index;
	width: 100%;
	.st-content{
		width: 100%;
		position: relative;
	}
	a{
		line-height: $menu-height;
		color: $menu-link-color;
		padding: $menu-link-padding;
		&:hover{
			color: $menu-link-color-hover;
		}
	}
	.logo{
		display: block;
		min-height: $menu-height;	
		float: left;
		margin-right: $menu-logo-margin-right;
	}
	.navigation{
		min-height: $menu-height;	
		ul,
		li{
			display: inline;
			line-height: $menu-height;
		}
	}
	.navigation.center{
		@include position(absolute, 0 0 none 0);
		text-align: center;
		width: $menu-center-width;
		margin: auto;
	}
	.navigation.left{
		float: left;
	}
	.navigation.right{
		float: right;
	}
}

.menu.fixed{
	@include position(fixed, 0 0 none 0);
}
.menu.absolute{
	@include position(absolute, 0 0 none 0);
}

@include media($menu-break-point) {
	.menu{
		.navigation{
			display: none;
		}
		.logo,
		.navigation{
			float: none;
			width: 100%;
			text-align: center;
			ul,
			li{
				display: block;
				width: 100%;
			}
		}
	}
}

.menu-separator{
	min-height: $menu-height;
}