.st-panel{
	background: $panel-background;
	padding: $panel-padding;
	margin: $panel-margin;
	border-radius: $panel-border;

	@include all-radius-classes;

	&.clicable{
		cursor: pointer;
	}

	@each $key, $color in $color-variables{
    &.#{$key}:not(.border-left){
      border-top: solid 5px $color;
    }
    &.#{$key}.border-left{
      border-left: solid 5px $color;
    }
  }
}